* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* primary Button */
.primary-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* banner section style start  */
.banner-conteiner {
    max-width: 1920px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-content {
    max-width: 708px;

}

h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 32px;
}

.banner-img {
    max-width: 635px;

}

.banner-img img {
    width: 80%;
}

/* banner section style End  */
/* Our Featured Flowers style start */
.our-featured{
   max-width: 1920px;
   height: 100vh;

}
.featured-content {
    text-align: center;
    width: 594px;
    margin: 170px auto 50px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}
.flower-tre-section{
    display: flex;
    gap: 24px;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.flower-tree {

    border-radius: 300px 300px 0px 0px;
    height: 450px;
    width: 380px;
    padding: 40px 20px 0;
}
.flower-tree-1{
    background: rgba(167, 33, 98, 0.15);
}
.flower-tree-2{
    background: rgba(5, 151, 160, 0.15);
}
.flower-tree-3{
    background: rgba(71, 125, 17, 0.15);
}

.tree-title {
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 30px;
}




.flower-tree img {
    width: 100%;
    height: 100%;
}
/* Our Featured Flowers style end */